:root {
  --cssExtractHeaderBgdColor: #fff;
  --cssExtractTitlesBgdColor: #fff;
  --cssExtractTextColor: #666b6a;
}

.css-extract {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  width: 100%;
  height: 100vh;
  background-color: var(--cssExtractHeaderBgdColor);

  & .ace_layer.ace_gutter-layer.ace_folding-enabled {
    background-color: var(--cssExtractTitlesBgdColor);
  }
}

.css-extract__header {
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-left: calc(67px + 1rem);
  max-width: 1120px;
  width: max-content;
  background-image: url(../images/css-extract-1.svg);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;

  @media screen and (max-width: 640px) {
    padding-left: calc(51px + 1rem);
  }
}

.css-extract__title {
  color: var(--cssExtractTextColor);
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.5em;

  @media screen and (max-width: 640px) {
    font-size: 1.5rem;
  }
}

.css-extract__subtitle {
  margin: 0;
  color: var(--cssExtractTextColor);
  letter-spacing: 0.08em;
  font-size: 1rem;

  @media screen and (max-width: 640px) {
    font-size: .8rem;
  }
}

.css-extract__content-wrap {
  display: flex;
  flex-grow: 1;
  height: 100%;

  @media screen and (max-width: 640px) {
    flex-wrap: wrap;
  }
}

.css-extract__col {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media screen and (max-width: 640px) {
    width: 100% !important;
    height: 50%;
  }

  &--type {
    &--input {
      width: 60%;
    }

    &--output {
      width: 40%;
      border-left: 1px solid var(--cssExtractHeaderBgdColor);

      @media screen and (max-width: 640px) {
        border-top: 1px solid var(--cssExtractHeaderBgdColor);
        border-left: none;
      }
    }
  }
}

.css-extract__editor {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: monospace;
}