<main class="css-extract">
  <header class="css-extract__header">
    <h1 class="css-extract__title">CSS class extract</h1>
    <p class="css-extract__subtitle">Извлечение CSS классов из верстки</p>
  </header>
  <section class="css-extract__content-wrap">
    <div class="css-extract__col css-extract__col--type--input">
      <figure
        class = "css-extract__editor"
        id    = "css-extract-input"
      ></figure>
    </div>
    <div class="css-extract__col css-extract__col--type--output">
      <figure
        class = "css-extract__editor"
        id    = "css-extract-output"
      ></figure>
    </div>
  </section>

  {% include "partials/copy/copy.htm" %}

</main>