:root {
    --copyBgdColor: #fff;
    --copyTextColor: #666B6A;
    --copyLinkColor: #666B6A;
}

.copy {
    position: relative;
    width: 100%;
    background-color: var(--copyBgdColor);
    color: var(--copyTextColor);
    font-size: 1rem;

    @media screen and (max-width: 640px) {
       font-size: .8rem;
    }
}

.copy__content-wrap {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 1120px;
    width: 100%;
}

.copy__dev {
    width: 100%;
    text-align: center;
}

.copy__dev-icon {
    position: relative;
    top: .2em;
    display: inline-block;
    margin: 0 .5em;
    width: 1rem;
    height: 1rem;
    background-image: url(../images/copy-heart-pulse.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat
}

.copy__dev-lnk {
    border-bottom: 1px solid transparent;
    color: var(--copyLinkColor);

    &:hover {
        border-color: currentColor;
    }
}