<section class="copy">
    <div class="copy__content-wrap">
        <p class="copy__dev">
            Сайт разработан с
            <span class="copy__dev-icon animated bounceIn infinite"></span>
            силами
            <a
                href               = "http://alexlit.gitlab.io"
                class              = "copy__dev-lnk"
                target             = "_blank"
                data-tooltip-title = "Нужен сайт?"
                data-tooltip-text  = "Профессиональная верстка и разработка сайтов"
            >alexlit.gitlab.io</a>
        </p>
    </div>
</section>