@font-face {
	font-family: 'SFUIDisplay-Bold';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot');
	src: url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanFrancisco/SFUIDisplay-Bold.woff') format('woff'),
		url('../fonts/SanFrancisco/SFUIDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-Regular';
	src: url('../fonts/SanFrancisco/SFUIText-Regular.eot');
	src: url('../fonts/SanFrancisco/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanFrancisco/SFUIText-Regular.woff') format('woff'),
		url('../fonts/SanFrancisco/SFUIText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}