/*
|--------------------------------------------------------------------------
| VARIABLES (var())
|--------------------------------------------------------------------------
|
| Объявление переменных
|
*/

:root {
    --colorPlaceholder:   #5a5147;
    --colorPrimary:       #f2777a;
    --colorTextSelection: #cccccc;
    --colorText:          #272727;
    --colorOverlay:       rgba(255, 255, 255, 0.8);
    --fontFamily:         SFUIText-Regular, Arial, sans-serif;
    --shadowOutset:       0 2px 5px 0 rgba(0, 0, 0, .26), 0 2px 10px 0 rgba(0, 0, 0, .16);
    --transformScale:     scale(1.1);
    --transitionDuration: .3s;
}

/*
|--------------------------------------------------------------------------
| NATIVE ELEMENTS
|--------------------------------------------------------------------------
|
| Кастомизация нативных элементов браузера
|
*/

::-moz-selection {
    background-color: var(--colorPrimary);
    color: var(--colorTextSelection);
}

::selection {
    background-color: var(--colorPrimary);
    color: var(--colorTextSelection);
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: var(--colorPlaceholder);
}

:focus::-webkit-input-placeholder,
:focus::-moz-placeholder,
:focus:-moz-placeholder,
:focus:-ms-input-placeholder {
    /*color: transparent;*/
}

::-moz-selection,
::selection {
    background-color: var(--colorPrimary);
    color: var(--colorTextSelection);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type=number] & {
    -moz-appearance: textfield;
    appearance: none;
}


/*
|--------------------------------------------------------------------------
| RESET
|--------------------------------------------------------------------------
|
| Сброс стилей браузера (для нормализации используется вендор)
|
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    outline-color: transparent;
}

::before,
::after {
    box-sizing: border-box;
    transition: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
    margin: 0;
    padding: 0;
    font-style: normal;
}

html {
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
    color: var(--colorText);
    font-family: var(--fontFamily);
}

body {
    overflow-x: hidden;
    padding: 0;
    min-width: inherit;
    min-height: 480px;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer !important;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer !important;
}

a,
button,
input,
textarea {
    font-family: inherit;
    transition: var(--transitionDuration);
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}