<meta charset="utf-8">

{# Mobile meta #}
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{# Manifest #}
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="{{ background_color }}">

{# Metadata #}
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

{# Open Graph #}
<meta property = "og:description" content = "{{ description }}">
<meta property = "og:image"       content = "http://alexlit.gitlab.io/extract-css-classes/assets/images/og-image.jpg">
<meta property = "og:locale"      content = "ru_RU">
<meta property = "og:site_name"   content = "{{ name }}">
<meta property = "og:title"       content = "{{ title }}">
<meta property = "og:type"        content = "website">
<meta property = "og:url"         content = "http://alexlit.gitlab.io/extract-css-classes">

{# Styles #}
<link href="assets/styles/style.css" rel="stylesheet">

{# Icons #}
<meta name = "application-name"                content = "{{ name }}">
<meta name = "msapplication-TileColor"         content = "{{ background_color }}">
<meta name = "msapplication-TileImage"         content = "assets/icons/mstile-144x144.png">
<meta name = "msapplication-square70x70logo"   content = "assets/icons/mstile-70x70.png">
<meta name = "msapplication-square150x150logo" content = "assets/icons/mstile-150x150.png">
<meta name = "msapplication-wide310x150logo"   content = "assets/icons/mstile-310x150.png">
<meta name = "msapplication-square310x310logo" content = "assets/icons/mstile-310x310.png">
<link rel = "icon" type = "image/png" sizes = "128x128" href = "assets/icons/favicon-128.png">
<link rel = "icon" type = "image/png" sizes = "196x196" href = "assets/icons/favicon-196x196.png">
<link rel = "icon" type = "image/png" sizes = "96x96"   href = "assets/icons/favicon-96x96.png">
<link rel = "icon" type = "image/png" sizes = "32x32"   href = "assets/icons/favicon-32x32.png">
<link rel = "icon" type = "image/png" sizes = "16x16"   href = "assets/icons/favicon-16x16.png">
<link rel = "apple-touch-icon-precomposed" sizes = "57x57"   href = "assets/icons/apple-touch-icon-57x57.png">
<link rel = "apple-touch-icon-precomposed" sizes = "114x114" href = "assets/icons/apple-touch-icon-114x114.png">
<link rel = "apple-touch-icon-precomposed" sizes = "72x72"   href = "assets/icons/apple-touch-icon-72x72.png">
<link rel = "apple-touch-icon-precomposed" sizes = "144x144" href = "assets/icons/apple-touch-icon-144x144.png">
<link rel = "apple-touch-icon-precomposed" sizes = "60x60"   href = "assets/icons/apple-touch-icon-60x60.png">
<link rel = "apple-touch-icon-precomposed" sizes = "120x120" href = "assets/icons/apple-touch-icon-120x120.png">
<link rel = "apple-touch-icon-precomposed" sizes = "76x76"   href = "assets/icons/apple-touch-icon-76x76.png">
<link rel = "apple-touch-icon-precomposed" sizes = "152x152" href = "assets/icons/apple-touch-icon-152x152.png">

{# Verification #}
<meta name="yandex-verification" content="6f6eead39d2b87e8" />