{% set layout = 'main' %}

{# == #}

<!DOCTYPE html>

<html lang="ru" data-layout="{{ layout }}" data-page="{{ page }}">

    <head>

        {% include "partials/head.htm" %}

    </head>

    <body itemscope itemtype="http://schema.org/SoftwareApplication">

        <meta itemprop="name" content="CSS class extract">
        <meta itemprop="image" content="http://alexlit.gitlab.io/extract-css-classes/assets/icons/mstile-310x310.png">
        <meta itemprop="operatingSystem" content="Любая">
        <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop = "ratingValue" content = "5">
            <meta itemprop = "ratingCount" content = "103">
        </span>
        <meta itemprop="applicationCategory" content="Веб-сервис">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Alexey Litovchenko">
        </span>
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="alexlit.gitlab.io">
        </span>
        <meta itemprop="screenshot" content="http://alexlit.gitlab.io/extract-css-classes/assets/images/og-image.jpg">
        <meta itemprop="url" content="http://alexlit.gitlab.io/">

        {% block content %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>

        {% include "partials/scripts.htm" %}

    </body>

</html>